body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 100px;
}

li {
    padding: 20px;
    margin-left: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1 {
    margin-top: 20px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 100px;
    margin-bottom: 0;
}

.subtext {
    color: #dedede;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 0;
    padding-top: 0
}

button {
    margin-left: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}


.grey-rectangle {
    position: relative;
    left: 1000px;
    bottom: 150px;
    width: 500px; /* Adjust the width as needed */
    height: 50%; /* Expand to full height of top-section */
    background-color: rgb(147, 144, 144); /* Use your desired shade of grey */
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;

}


.header-logo {
    display: flex;
    font-size: 24px;
    font-weight: bolder;
    margin-left: 100px;
    color: #F9FAF8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-section {
    height: 30%;
    background-color: #1F2937;
    position: relative;
    /* Add any other styles you need for the section */
}

